{
  "difficulty": {
    "DIFFICULTY_TARGET_V2": [ 60, 120, 180 ]
  },
  "internet": {
    "PING": [ 70, 200, 500, 1000 ]
  },
  "pools": {
    "P0": { "strategy": [ "SS0" , "SS1" ], "HPP": [0.3, 0.4, 0.5] }, 
    "HONEST": { "strategy": [ "HS0", "HS1" ] }
  },
  "strategies": {
    "SS0" : {
      "config": {
        "policy": {
          "kThresh": [ -1, 0, 1],
          "retortPolicy": [ 0, 1 ]
        }
      }
    },
    "HS0" : {
      "config": {
        "scoringFunctions": {
          "calculateDepthPenaltyTime": {
            "k": [ 0.001, 0.003, 0.004 ],
            "L": [ 0.7, 0.9 ]
          }
        }
      }
    }
  }
}
