{
  "difficulty": {
    "DIFFICULTY_TARGET_V2": [ 60, 120 ]
  },
  "internet": {
    "PING": [ 70, 200, 500 ]
  },
  "pools": {
    "P0": { "strategy": [ "SS0" ], "HPP": [ 0.2, 0.3, 0.4 ] },
    "HONEST": { "strategy": [ "HB0" ] }
  },
  "strategies": {
    "SS0" : {
      "config": {
        "policy": {
          "kThresh": [ -1, 0, 1 ],
          "retortPolicy": [ 0, 1, 2 ]
        }
      }
    }
  }
}
